<h1>Lista de Heroes</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button 
            [routerLink]="['/heroe','nuevo']"
            class="btn btn-primary">Agregar Heroe</button>
    </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of heroesList; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ row.data.nombre }}</td>
                        <td>{{ row.data.casa }}</td>
                        <td class="text-right">
                            <button 
                                (click)="editHeroe(row.key)" 
                                class="btn btn-info">Editar
                            </button>
                            <button 
                                (click)="deleteHeroe(row.key)" class="btn btn-danger">Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>